{% extends 'layout.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="m-3">
    <h1 style="font-size:2rem;">글 작성</h1>
</div>


<form action="" method='POST'>
    {% csrf_token %}

    {% for form in forms %}
    <div class="m-3">
        <label for="{{ form.id_for_label }}">{{ form.label }}</label>
        <div class="border-bottom border-dark border-bottom-width:5px"> {{ form }}</div>
    </div>
    {% endfor %}

    {% if error %}
    {{ error }}
    {% endif %}
    <button type="submit" class="btn text-white" style="background-color: black">업로드</button>
</form>
{% endblock %}