{% extends "layout.html" %}

{% block content %}
<!-- 사용자오류 표시 -->

<div class="container">
    <header class="post-header">
        <h4 class="title m-2" style="font-size:2rem">{{ article.title }}</h4>
    </header>


    <hr>

    <div class="m-3">{{ article.body|safe }}</div>

    <hr>

    <div class="m-3">{{ article.one_source }}</div>

    <hr>

    <div class="m-3">{{ article.information_source }}</div>

</div>

<div class="m-3" stayle=" float:right;">
    <a href="{% url 'board:article_modify' article.id %}"
       class="btn btn-sm btn-outline-secondary">수정</a>
</div>


{% endblock %}