{% extends "layout.html" %}
{% load humanize %}
{% load django_bootstrap5 %}

{%block content %}
<section class="section-prod-comment-modify mt-4">
    <div class="container">
        <header class="post-header">
            <h4 class="title m-2" style="font-size:2rem">{{ article.title }}</h4>
        </header>

        <hr>

        <div class="m-3">{{ article.writer.username }}</div>

        <hr>

        <div class="m-3">{{ article.body|safe }}</div>

        <hr>

        <div class="m-3">{{ article.one_source }}</div>

        <hr>

        <div class="m-3">{{ article.information_source }}</div>

        <div>
            <div class="m-3" style="float:left;"> <!-- 추천영역 -->
                <a href="#" data-uri="{% url 'board:vote_article' article.id %}"
                   class="recommend btn btn-danger"> ❤ <strong>{{article.voter.count}}</strong></a>
            </div>

            {% if article.writer == request.user %}
            <div class="m-3" style="float:right;">
                <a href="{% url 'board:article_modify' article.id %}"
                   class="btn btn-secondary">수정</a>
                <a href="{% url 'board:article_delete' article.id%}" class="btn btn-warning"
                   onclick="if ( confirm('정말 삭제하시겠습니까?') == false ) return false;">삭제</a>
            </div>
            {% endif %}
        </div>
    </div>


</section>

<div class="container mt-5">

    <strong>댓글수정</strong>
    <form method="POST" action="{% url 'board:comment_modify' article.id comment.id %}">
        {% csrf_token %}

        {% bootstrap_form CommentForm %}
        <div class="m-3">
            <button type="submit" class="btn btn-outline-dark" style="float:right;" value="댓글수정">
                댓글수정
            </button>
        </div>

    </form>

</div>
{%endblock%} 