{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% block content %}

<section class="section-signup t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header">로그인</div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-outline-primary">
                    로그인
                </button>
                <button type="reset" class="btn btn-outline-primary">취소</button>

                <button type="button" class="btn btn-outline-primary">
                    <a href="{% url 'accounts:signup' %}">회원가입</a>
                </button>
            </form>

        </div>


    </div>
    </div>
</section>

{% endblock %}