{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% block content %}

<section class="section-signup t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header">로그인</div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-outline-primary">
                    로그인
                </button>
                <button type="button" class="btn btn-outline-primary">
                    <a href="#">취소</a>
                </button>
            </form>
            <div class="m-3">
                <button class="btn btn-outline-warning" type="submit">
                    <a href="{% url 'accounts:kakao_signin' %}" style="color:black;">카카오로 로그인</a>
                </button>
            </div>

        </div>
    </div>
</section>

{% endblock %}